@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nanum+Gothic&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --html-color : "#dfdddd";
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
  background-color: var(--html-color);
}

.signup-link,
.login-link {
  color: #DB005B;
}

.signup-link:hover,
.login-link:hover {
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6a6a;
}