/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nanum+Gothic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nanum+Gothic&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
}

.signup-link, .login-link{
  color: #DB005B;
}

.signup-link:hover, .login-link:hover{
  text-decoration: underline;
}